* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  padding: 20px;
  margin: 0;
}

h1,
h2 {
  color: white;
  text-align: center;
}

.choice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.choice-container button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  width: 140px;
}

#result,
#score {
  margin-top: 20px;
  font-size: 18px;
  color: white;
  text-align: center;
}
.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.reset {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.6rem;
  }

  button {
    width: 100%;
    font-size: 1.2rem;
    padding: 16px;
    -webkit-appearance: none;
    appearance: none;
    border-radius: 10px;
    color: black;
    margin: 10px;
  }
}
